<!-- start custom footer snippets -->

<!-- end custom footer snippets -->


<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4530574365331251"
    crossorigin="anonymous"></script>
<!-- 하단1 -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-4530574365331251"
    data-ad-slot="4716839470"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>